{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <title>Recipes details</title>
</head>

<nav class="navMenu">
  <a href="{%url 'welcome' %}">Home</a>
  <a href="{%url 'recipes-list:list' %}">Recipes' list</a>
  <a href="{%url 'recipes-list:records' %}">Search</a>
  <a href="{%url 'about' %}">About</a>
</nav>

<div class="main-content">
  <h2>Details: {{object.name}}</h2>

  <b>Name: </b> {{object.name}} <br />

  <b>Category: </b> {{object.category}} <br />

  <b>Preparation time: </b> {{object.preparation_time}} <br />

  <b>Cooking time: </b> {{object.cooking_time}} <br />

  <b>Difficulty: </b> {{object.difficulty}} <br />

  <b>Ingredients: </b> {{object.ingredients}} <br />

  <b>Diretions: </b> {{object.directions}} <br />

  <b>Notes: </b> {{object.notes}} <br />

  <br />

  <img src="{{object.pic.url}}" width="200" height="300" />
</div>
