{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Recipes Home</title>
  </head>

  <body>
    <nav class="navMenu">
      <a href="{%url 'recipes-list:home' %}">Home</a>
      <a href="{%url 'recipes-list:list' %}">Recipes' list</a>
      <a href="{%url 'recipes-list:records' %}">Search</a>
      <a href="{%url 'about' %}">About</a>
    </nav>
    <h1 style="text-align: center">Welcome to our recipes website.</h1>
    <br />

    <p style="text-align: center"><a href="{%url 'login' %}"> Login </a></p>

    <br />
    <br />

    <img
      src="{% static 'recipes/images/recipes_main-picture.jpg' %}"
      alt="home"
      width="600"
      height="300"
      style="margin: auto; display: block"
    />
  </body>
</html>
